@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-app-background: #151719f5;
  --color-background: #151719;
  --color-foreground: #f1f1f1;
  --color-muted: #151719;
  --color-secondary: #26c276;
}
